body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(121, 2, 206);
    text-align: center;
    margin: 0;
}

h1{
    font-size: 4vw;  
    color: #fff;
}

.main{
    font-size: 4vw;  
    height: 25vw;    
    width: 25vw;
    background-color: black;
    border-radius: 50%;
    border: 0.5vw solid rgb(221, 221, 236); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 28%;
    box-shadow: 0 0 2vw white, 0 0 3vw white, 0 0 4vw blue, 0 0 5vw blue;
}

button{
    margin: 2vh;        
    height: 8vh;        
    width: 15vw;        
    border-radius: 2vw; 
    cursor: pointer;
    font-size: 2vw;     
    color: #fff;
    box-shadow: 0 0 2vw white, 0 0 3vw white, 0 0 4vw blue, 0 0 5vw blue;
}

#start {
    background-color: green;
}

#start:hover {
    background-color: rgba(21, 208, 43, 0.9);
}

#stop {
    background-color: rgb(218, 33, 33);
}

#stop:hover {
    background-color: rgba(232, 36, 10, 0.7);
}

#reset {
    background-color: rgb(67, 67, 125);
}

#reset:hover {
    background-color: rgba(51, 57, 139, 0.7);
}

#num {
    margin-top: 5vh;  
    font-size: 6vw;   
}
